<section class="py-16 bg-white min-h-[60vh]">
  <div class="max-w-3xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-6 text-foundationprimarygreen">Edit Blog Post</h2>
  <%= render 'form', blog: (@blog || Blog.new) %>
  </div>
</section>
